page-food {
  .content-md{
    background-color: transparent;
    color: white;
  }
  hr{
    background-color: rgba(250, 246, 246, 0.46) !important;
  }

  .content-ios{
    background-color: transparent;
    color: white;
  }

   div.nav-decor{
    background: transparent !important;
  }

  ion-content > div > div > table > tbody > tr > td{
    padding-bottom: 15px;
  }

  ion-content > div > div > table > tbody > tr > td:nth-child(1){
    width: 70%;
  }

  ion-content > div > div > table > tbody > tr > td:nth-child(2){
    width: 15%;
  }
  ion-content > div > div > table > tbody > tr > td:nth-child(3){
    width: 15%;
  }
}
