page-food {
  .content-md{
    background-color: transparent;
    color: white;
  }
  hr{
    background-color: rgba(250, 246, 246, 0.46) !important;
  }

  .content-ios{
    background-color: transparent;
    color: white;
  }
  ion-content > div > div > table > tbody > tr > td{
    padding-bottom: 5px;
  }
}
