<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="toggleMenuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img class="logo" src="assets/img/logoSP.png" alt="logo">
  <div class="mainAbout" [innerHTML]="this.about">
  </div>
  <ng-container *ngFor="let event of programHome; let i = index">
    <div *ngIf="i === 0"  class="event">
    <div class="date">
      <div class="top">
        <p>{{event.date1}}</p>
      </div>
      <div>
        <p>{{event.date2}}</p>
      </div>
    </div>
    <div class="info">
      <div class="title">{{event.title}}</div>
      <hr>
      <div class="perex" [innerHtml]="event.text"></div>
    </div>
  </div>
  </ng-container>

</ion-content>
