// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app {
  background: none transparent !important;
}

ion-content{
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  ion-content{
    background-image: none;

  }
}

div.nav-decor{
  background: transparent !important;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
  border-bottom: 2px solid white;
}

.item-inner{
  background-image: none !important;
}
.reserveBtn{
  position: relative;
  margin: 60px auto ;
  display: block;
  width: 60%;
  height: 3em;
  background-color: black;
  outline: 1px solid black;
  outline-offset: 1px;
}
.socialWrapper {
  position: absolute;
  top: 10px;
  right: 0;
  .socialBtn {
    width: 40px;
    height: 40px;
    background-color: white;
    outline: 1px solid white;
    outline-offset: 1px;
    margin: 10px;
    ion-icon {
      font-size: 25px;
      color: #a81b1e;
    }
  }
}


ion-toolbar > div{
  background-color: #a81b1e !important;
}

ion-navbar > div{
  background-color: transparent !important;
}
ion-title > div{
  color: white !important;
}
.toolbar-title-menu > div{
  color: white !important;
  padding-left: 40px;
}
.toolbar-md{
  padding: 11px;
}

.toolbar-ios{
  padding-left: 11px;
}

.menuBtn{
  background-color: #a81b1e;
  color: #FFFFFF;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  .item-inner{
    border-bottom: none !important;
  }
}
.menu-inner{
  outline: 1px solid #a81b1e;
  outline-offset: 1px;
}

.main-menu{
  background: #a81b1e !important;

  .menu-list{
    margin-left: 50px;
    border-top: 1px solid #ffffff ;
    width: 75%;
  }
  .logoMenu{
    width: 65%;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
}

ion-header:after{
  display: none;
}

.toolbar-title-ios{
  padding-left: 0 !important;
  text-align: center;
}
.header-ios {
  .toolbar-background-ios {
    background-color: transparent;
    border: none;
  }
}

.toggleMenuBtn{
  display: block;
  background-color:#a81b1e;
  color: white;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 0;
  outline: 1px solid #a81b1e;
  outline-offset: 1px;

}