page-wine {
  .content-md{
    background-color: transparent;
    color: white;
  }
  hr{
    background-color: rgba(250, 246, 246, 0.46) !important;
  }

  .content-ios{
    background-color: transparent;
    color: white;
  }

  h4{
    text-align: center;
  }

  ion-content > div > div > table{
    width: 100%;
  }

  ion-content > div > div > table:nth-child(-n+15) > tbody > tr > td:nth-child(1){
    display: none;
  }

  ion-content > div > div > table > tbody > tr:nth-child(even) > td {
    padding-bottom: 10px;
  }

  ion-content > div > div > table:nth-child(-n+15) > tbody > tr > td:nth-child(2){
    width: 75%;
  }

  ion-content > div > div > table:nth-child(n+15) > tbody > tr > td:nth-child(2){
    width: 20%;
  }

  ion-content > div > div > table > tbody > tr > td:nth-child(3){
    width: 10%;
  }
  ion-content > div > div > table > tbody > tr > td:nth-child(4){
    width: 15%;
  }
}
